$baseColor: #002b55;
$accentColor: #56b7e9;
$washColor: #e3eff5;
$bgColor: #ffffff;
$alertColor: #a30000;

$title-size: 3.5em;
$base-size: 1.2em;
$accent-size: 1.6em;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $baseColor;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

.main-container {
  width: 85%;
  margin: auto;
}
